# Tasca 6A: Visualització gràfica de Múltiples variables

Roger Gallart - 1 maig 2021

## Nivell 1

### Exercici 1

Realitza la pràctica del notebook a GitHub "03 EXAMINING DATA" amb seaborn i el dataset "tips".

https://github.com/itacademy-rogergallart/visualitzacio_grafica_de_multiples_variables/blob/main/03_EXAMINING_DATA.ipynb

## Nivell 2

### Exercici 2

Repeteix l'exercici 1 amb el dataset que disposem en el repositori de GitHub PRE-PROCESSING-DATA, movies.dat

In [1]:
import pandas as pd
import numpy as np
import re

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/IT-Academy-BCN/Data-Science/main/Pre-processing-data/movies.dat",
                 sep='::',  encoding = 'ISO-8859-1', index_col=0, names=['TitleYear','Genres'], engine='python')

In [ ]:
df.head()

                            TitleYear                        Genres
1                    Toy Story (1995)   Animation|Children's|Comedy
2                      Jumanji (1995)  Adventure|Children's|Fantasy
3             Grumpier Old Men (1995)                Comedy|Romance
4            Waiting to Exhale (1995)                  Comedy|Drama
5  Father of the Bride Part II (1995)                        Comedy

In [ ]:
dummy = df.TitleYear.str.extract(r'(.+)\s*\((\d\d\d\d)\)$')
df['Title'] = dummy.iloc[:,0]
df['Year'] = dummy.iloc[:,1]

df['Title'] = df['Title'].str.strip()
df['Year'] = df['Year'].astype('int64')

In [ ]:
# Esborrem la columna TitleYear i reordenem la resta
del df['TitleYear']
df = df[['Title','Year','Genres']]
df.head()

                         Title  Year                        Genres
1                    Toy Story  1995   Animation|Children's|Comedy
2                      Jumanji  1995  Adventure|Children's|Fantasy
3             Grumpier Old Men  1995                Comedy|Romance
4            Waiting to Exhale  1995                  Comedy|Drama
5  Father of the Bride Part II  1995                        Comedy

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3883 entries, 1 to 3952
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   3883 non-null   object
 1   Year    3883 non-null   int64
 2   Genres  3883 non-null   object
dtypes: int64(1), object(2)
memory usage: 121.3+ KB

In [ ]:
df_genres = df.Genres.str.get_dummies(sep='|').add_prefix('Genre_')
df_genres = df_genres.astype("Sparse[int]")

In [ ]:
df = pd.concat([df,df_genres], axis=1)
del df['Genres']

In [ ]:
df.head()

                         Title  Year  ...  Genre_War  Genre_Western
1                    Toy Story  1995  ...          0              0
2                      Jumanji  1995  ...          0              0
3             Grumpier Old Men  1995  ...          0              0
4            Waiting to Exhale  1995  ...          0              0
5  Father of the Bride Part II  1995  ...          0              0

[5 rows x 20 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3883 entries, 1 to 3952
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              3883 non-null   object
 1   Year               3883 non-null   int64
 2   Genre_Action       3883 non-null   Sparse[int64, 0]
 3   Genre_Adventure    3883 non-null   Sparse[int64, 0]
 4   Genre_Animation    3883 non-null   Sparse[int64, 0]
 5   Genre_Children's   3883 non-null   Sparse[int64, 0]
 6   Genre_Comedy       3883 non-null   Sparse[int64, 0]
 7   Genre_Crime        3883 non-null   Sparse[int64, 0]
 8   Genre_Documentary  3883 non-null   Sparse[int64, 0]
 9   Genre_Drama        3883 non-null   Sparse[int64, 0]
 10  Genre_Fantasy      3883 non-null   Sparse[int64, 0]
 11  Genre_Film-Noir    3883 non-null   Sparse[int64, 0]
 12  Genre_Horror       3883 non-null   Sparse[int64, 0]
 13  Genre_Musical      3883 non-null   Sparse[int64, 0]
 14  Genre_Mystery      3883 non-null   Sparse[int64, 0]
 15  Genre_Romance      3883 non-null   Sparse[int64, 0]
 16  Genre_Sci-Fi       3883 non-null   Sparse[int64, 0]
 17  Genre_Thriller     3883 non-null   Sparse[int64, 0]
 18  Genre_War          3883 non-null   Sparse[int64, 0]
 19  Genre_Western      3883 non-null   Sparse[int64, 0]
dtypes: Sparse[int64, 0](18), int64(1), object(1)
memory usage: 166.1+ KB

## Nivell 3

### Exercici 3

Mostreu-me la teva creativitat, Sorprèn-me amb el dataset "movies.dat" del exercici anterior.